body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #100A1C;
}
img {
    overflow: hidden;
}
#background {
    width: 100%;
    height: 80%;
}
#rose {
    width: 144.28921vh;
    height: 126.1544vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}
@font-face {
    font-family: HoaSen;
    src: url('source/font/Hoa Sen Typeface.ttf');
  }
  @font-face {
    font-family: GideonRoman;
    src: url('source/font/GideonRoman-Regular.otf');
  }
h1 {
    font-family: HoaSen;
    font-size: 120pt;
    position: absolute;
    margin: 0;
    top: 5vh;
    left: 90vh;
    z-index: 10;
    font-weight: lighter;
    letter-spacing: -0.5vh;
    color:aliceblue;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 0.5vh #677684, 0 0 1vh #4f5a64, 0 0 1.5vh #607b97, 0 0 2vh #4f5a64, 0 0 3vh #607b97, 0 0 3.5vh #4f5a64;
    }
    
    to {
      text-shadow: 0 0 1vh #fff, 0 0 1.5vh #8c9fb1, 0 0 2vh #607b97, 0 0 2.5vh #8c9fb1, 0 0 3vh #607b97, 0 0 3.5vh #8c9fb1, 0 0 4vh #7f99b5;
    }
  }
h2 {
    font-family: GideonRoman;
    font-size: 24pt;
    font-weight: Lighter;
    position: absolute;
    top: 40vh;
    left: 157vh;
    z-index: 10;
    color:aliceblue;
    animation: glow 1s ease-in-out infinite alternate;
}
.transition {
    width: 100%;
    filter:blur(4.5vh);
    opacity: 2;
    position:absolute;
    z-index: 10;
}
#page1 {
    width: 100%;
    height: 103vh;
    position: absolute;
    top: 140vh;
    z-index: 1;
}
@keyframes lightGlow {
    0% {
      text-shadow: none;
    }
    100% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  
#page1background {
    width: 100%;
    position: absolute;
    top: 120vh;
    opacity: 0;
    filter:blur(5vh);
    transition: opacity 3s ease-in;
  }
  
.P1 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 140vh;
    top: 150vh;
    opacity: 0;
    transition: opacity 1s ease-in;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
.visible {
    opacity: 1 !important;
  } 
#t1 {
    width: 100%;
    height: 15.74894vh;
    position:absolute;
    top: 117vh;
}
.page2 {
    width: 100%;
}
#man {
    width: 68,05479vh;
    height: 100%;
    position: absolute;
    top: 242.8vh;
    z-index: 1;
    right: 0;  
}
#cigarette {
    width: 46.08083vh;
    height: 67.58309vh;
    position: absolute;
    top: 275vh;
    z-index: 1;
    animation: move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  @keyframes move {
    0%   { left: 130vh;}
    100% { left: 80vh;}
  }
.vapour {
    position:relative;
    display: flex;
    padding: 0 2vh;
}
.vapour span {
    position: relative;
    top: 190vh;
    left:200vh;
    display: block;
    margin: 0 0.2vh 5vh;
    min-width: 0.8vh;
    height: 12vh;
    background-color: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(0.8vh);
    animation-delay: calc(var(--i) * -0.5s);
    transform: rotate(calc(var(--i) * 90deg));
}
@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1); 
        opacity: 0;
        left: 140vh;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-15vh) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-30vh) scaleX(10);
        left: 100vh;
    }
}
.p2 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 15vh;
    top: 265vh;
    z-index: 1;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in;
}

.p2.visible {
    opacity: 1;
}

.p2 span.highlight {
    transition: color 0.3s ease;
}

.p2 span.highlight:hover {
    color: #fe5454;
    font-weight: bold;
    animation: glowred  1s ease-in-out infinite alternate;
}
@keyframes glowred {
    from {
      text-shadow: 0 0 0.5vh #bb5252, 0 0 1vh #6c3333, 0 0 1.5vh #9d4444, 0 0 2vh #6c3333, 0 0 3vh #9d4444, 0 0 3.5vh #c76868;
    }
    
    to {
      text-shadow: 0 0 1vh #bb5252, 0 0 1.5vh #6c3333, 0 0 2vh #9d4444, 0 0 2.5vh #6c3333, 0 0 3vh #9d4444, 0 0 3.5vh #6c3333, 0 0 4vh #7f99b5;
    }
}
.page3 {
    width:100%;
}
#wall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 342.5vh;
    filter:blur(3vh);
}
#woman3 {
    position: absolute;
    top: 350vh;
    left: 105vh;
    width: 78.96575vh;
    height: 92.69802vh;
    filter:blur(0vh);
}
#woman3:hover {
    animation: blur 3s linear infinite;
}
@keyframes blur {
    0% {
        opacity: 1;
        filter:blur(0vh);
    }
    50% {
        filter:blur(4vh);
    }
    100% {
        opacity: 0;
        filter:blur(6vh);
    }
}
.P3 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 15vh;
    top: 390vh;
    z-index: 2;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in; 
}

.P3.visible {
    opacity: 1;
}
.page4 {
    width: 100%;
}
#background4 {
    width: 100%;
    height: 108vh;
    position: absolute;
    top: 445vh;
    filter:blur(3vh);
    opacity: 95%;
    transform:rotate(180deg);
    z-index: -1;
}
#foot {
    width: 56.932vh;
    height: 73.88511vh;
    position: absolute;
    top: 474vh;
    left: 30vh;
    opacity: 0;
    transform: rotate(-35.571deg) translateY(-30vh);
    transition: all 5s ease-in;
}

#foot.visible {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
}
.p4 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 130vh;
    top: 499vh;
    z-index: 2;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in; 
}

.p4.visible {
    opacity: 1;
}

.p4 span.highlight {
    transition: color 0.3s ease;
}

.p4 span.highlight:hover {
    color: #fe5454;
    font-weight: bold;
    animation: glowred 1s ease-in-out infinite alternate;
}
.page5 {
    width: 100%;
}
#woman5 {
    width: 117.95548vh;
    height: 100%;
    position: absolute;
    top: 550vh;
    left: 80vh;
    z-index: -2; 
}
#hand {
    width: 38.85942vh;
    height: 82.42074vh;
    position:absolute;
    top: 568vh;
    left: 70vh;
    filter:blur(0.25vh);
    animation: move3 3s linear infinite;
}
@keyframes move3 {
    0% {
        left: 90vh;
        top: 568vh;
    }
    50% {
        left: 80vh;
        top: 565vh;
    }
    100% {
        left: 70vh;
        top: 568vh;
    }
}
.p5 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 20vh;
    top: 600vh;
    z-index: 3;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in; 
}

.p5.visible {
    opacity: 1;
}
.page6 {
    width:100%;
}
#background6 {
    width: 100%;
    height:110%;
    position:absolute;
    top:646vh;
    opacity: 90%;
    filter:blur(2vh);
    transform: rotate(180deg);
}
#lips {
    width: 55.50762vh;
    height: 102.20222vh;
    position: absolute;
    top: 675vh;
    left: 20vh;
    opacity: 0;
    transform: rotate(35.571deg) translateY(30vh);
    transition: all 3s ease-in;
}

#lips.visible {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
}
.p6 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 140vh;
    top: 700vh;
    z-index: 3;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in, font-family 1s ease, font-weight 1s ease; 
}

.p6.visible {
    opacity: 1;
}

.p6:hover {
    font-weight: bolder;
    font-family: HoaSen;
    font-style: italic;
    animation: glow 1s ease-in infinite alternate;
}
.page7 {
    width: 100%;
}
#background7 {
    width: 100%;
    height: 100%;
    filter: blur(3vh); 
    position: absolute;
    top: 800vh; 
}
#bed {
    width: 181.23714vh;
    height: 100%;
    position:absolute;
    top: 800vh;
    right: 0;
}
#clothes {
    width: 57.50078vh;
    height: 12.53824vh;
    mix-blend-mode: overlay;
    position: absolute;
    top: 885vh;
    left: 82vh;
    transition: filter 0.3s ease;
    z-index: 10; 
}

.page7 #clothes:hover {
    mix-blend-mode: normal;
    filter: drop-shadow(0 0 10px rgba(149, 7, 225, 0.9)) brightness(1.2) blur(0.3vh);
}
.p7 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 30vh;
    top: 820vh;
    z-index: 3;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in, font-family 0.5s ease, font-weight 0.5s ease; 
}

.p7.visible {
    opacity: 1;
}
.page8 {
    width: 100%;
    height: 100%;
}
#background8 {
    width:100%;
    height: 100%;
    position: absolute;
    top: 888vh;
    filter:blur(2vh);
}
#woman8 {
    width: 131.31343vh;
    height: 120%;
    position: absolute;
    top: 877vh;
    left: 0;
}
#hickey {
    width: 14.60916vh;
    height: 9.60989vh;
    position: absolute;
    top: 978vh;
    left: 18vh;
    opacity: 0; 
    filter:blur(2vh);
    mix-blend-mode: color-burn;
    transition: opacity 3s ease-in; 
}

#hickey.visible {
    opacity: 1; 
}

.page8 #hickey:hover {
    mix-blend-mode: normal;
    filter: drop-shadow(0 0 10px rgba(46, 1, 2, 0.9)) brightness(1.2) blur(0.3vh);
}

.p8 {
    color: aliceblue;
    font-family: GideonRoman;
    font-size: 16pt;
    position: absolute;
    left: 140vh;
    top: 950vh;
    z-index: 10;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0;
    transition: opacity 2s ease-in, font-family 0.5s ease, font-weight 0.5s ease; 
}

.p8.visible {
    opacity: 1;
}  
.p8 span.highlight {
    transition: color 0.3s ease;
}

.p8 span.highlight:hover {
    font-weight: bolder;
    font-family: HoaSen;
    font-style: italic;
    animation: glow 1s ease-in infinite alternate;
}
